<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Room List Information</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
      <h1>Room List Information</h1>
      <table>
      	<th:block th:each="redditt : ${getAllPosts}">
      	<tr>
      		<td th:text="${redditt.url}">...</td>
      		<td th:text="${redditt.title}">....</td>
      		 <td th:text="${redditt.username}">....</td>
      	</tr>
     	 
 
       </body>
</html>